<% if current_user %>
<p><%= @booking_requests.flatten.length %> Booking Request<% if @booking_requests.flatten.length != 1 %>s<%end%></p>
<% else %>
<p>You must log in to see the Dashboard.</p>
<% end %>
