<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="calendar_style.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

<title>BeastmakersBnB</title>

<% if current_user %>
Welcome, <%= current_user.email %> <a href="/dashboard"><button>Visit Dashboard</button></a>
<% if current_user.profilepic != nil %>
  <img src="<%=current_user.profilepic%>" style="width:40px;border:1px solid #000000;">
<%end%> <!-- # TODO: When styling, seperate the above from the listing pictures so that it doesn't have the hover/padding  -->
<form method='post' action='/sign_out_user'>
  <input type='submit' value='Sign out'>
</form>
<% else %>
<p>Please, sign up or sign in</p>
<p><a href="/users/new">Sign Up</a></p>
<p><a href="/sessions/new">Sign In</a></p>
<% end %>
<a href='/'><button>Home</button></a>

<div id="main-content">
<%= yield %>
</div>
