<!DOCTYPE html>
<html>
  <head>
    <title>BeastmakersBnB</title>
  </head>

  <body>
    <% if current_user %>
      Welcome, <%= current_user.email %>
    <% end %>
  <p>
    <a href="/users/new">Sign Up</a>
  </p>
  <p>
    <a href="/sessions/new">Sign In</a>
  </p>
    <%= yield %>
  </body>
</html>
