<title>BeastmakersBnB</title>

<% if current_user %>
Welcome, <%= current_user.email %> <a href="/dashboard"><button>Visit Dashboard</button></a>
<form method='post' action='/sign_out_user'>
  <input type='submit' value='Sign out'>
</form>
<% else %>
<p>Please, sign up or sign in</p>
<p><a href="/users/new">Sign Up</a></p>
<p><a href="/sessions/new">Sign In</a></p>
<% end %>
<a href='/'><button>Home</button></a>

<%= yield %>
