<title>BeastmakersBnB</title>
<link rel="stylesheet" href="nav.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">

<div class='nav'>
  <div class='nav-right'>
    <ul>
      <% if current_user %>
      <li>
        <% if current_user.profilepic != nil %>
          <img class='image-circle' src="<%=current_user.profilepic%>">
        <%end%>
      </li>
      <li>
        <form method='post' action='/sign_out_user'>
          <input type='submit' value='Sign out'>
        </form>
      </li>
      <li>
        <a href="/dashboard"><button>Visit Dashboard</button></a>
      </li>
      <li>
        <a href='/'><button>Home</button></a>
      </li>
    </ul>
    <% if current_user %>
    <div class='useremail'><%= current_user.email %></div>
    <%end%>
    <% else %>
    <p><a class='nav-links' href="/users/new">Sign Up</a></p>
    <p><a class='nav-links' href="/sessions/new">Sign In</a></p>
    <% end %>
  </div>
  <div class='nav-left'>
    <img id='logo' src='http://vignette4.wikia.nocookie.net/logocomics/images/a/a9/House_of_M_logo.png'>
  </div>
  </div>
</div>

<%= yield %>
