
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  var bookedDateArray = <%= @space.get_unavailable_dates %>;
</script>

<script src="/datepicker.js"></script>

<style>.unavailable { background-color: red;}</style>

<%if @space.available_tonight? %>
<p>Available Tonight!</p>
<%else%>
<p>Sorry, not available tonight.</p>
<%end%>

<div id="calendar"></div>

<% if current_user %>
<form action="/space/book?id=<%= @space.id %>" method="post">
  <input type="text" name="date">
  <input type="submit" id="bookingbutton" value="Make a booking">
</form>
<% end %>

<%if params[:confirmation] == "true" %>
<p>Booking request sent</p>
<%elsif params[:confirmation] == "false"%>
<p>Sorry, this space is no longer available.</p>
<%end%>
